#skin-root, article, div, footer, header, main, nav, section {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

a, article, body, div, footer, form, h1, h2, header, html, img, label, li, nav, p, section, span, time, ul {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

a, a:visited {
  color: #003569;
  text-decoration: none;
}

#root, body, html {
  height: 100%;
}

body, button, input, textarea {
  font-family: 'Century Gothic', 'Segoe UI';
  font-size: 14px;
  font-weight: 400;
}

body {
  color: #1a1a1a;
  background: #efeff4;
  -webkit-tap-highlight-color: rgba(26,26,26,0);
}

button {
  cursor: pointer;
}

#skin-root, ._gMX {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

._gxM, ._gcQ {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
}

._gDa {
  -webkit-flex-basis: 52px;
  -ms-flex-preferred-size: 52px;
  flex-basis: 52px;
  height: 100%;
}

._STa {
  background-color: #fff;
  width: 52px;
  position: fixed;
  left: 0;
  height: 100%;
  z-index: 1;
  background-clip: border-box;
  box-shadow: 1px 0 3px rgba(26,26,26, .1);
  background-clip: content-box;
}

._gDE {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0%;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
}

._gyQ {
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

._nFa {
  margin-top: 30px;
}

._tTB {
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

.electiconUA, .mugiconUA, .poolsiconUA, .rooticonUA, .twineiconUA {
  background-image: url(/public/gp/css/sprite/canvas.png);
}

.electiconUA, .mugiconUA, .poolsiconUA, .rooticonUA, .twineiconUA {
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}

.electiconUA {
  background-position: -290px -120px;
}

.mugiconUA {
  background-position: -102px -120px;
}

.poolsiconUA {
  background-position: -38px -120px;
}

.rooticonUA {
  background-position: -258px -120px;
}

.twineiconUA {
  background-position: -320px -120px;
}

._bMG {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
  -ms-flex-order: 4;
  order: 4;
}

._aGX {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0 auto;
  max-width: 600px;
  position: relative;
  width: 100%;
}

._CSa {
  padding: 16px 0;
}

._gC_, ._gC_a {
  padding: 12px 15px;
}

._gMB + ._gMB, ._gC_a + ._gC_a {
  border-top: .5px solid #eee;
}

._txM {
  color: #000;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

._txQ {
  border: 0;
  border-bottom: 1px solid #ebeef5;
  padding: 14px;
  width: 100%;
  line-height: 20px;
  font-size: 14px;
  background-color: transparent;
  color: #555;
  box-sizing: border-box;
  box-shadow: none;
  background-color: #fff;
  outline: none;
}

._FFe {

}

._bsZ {
  border: 1px solid;
  color: #fff;
  line-height: 1;
  white-space: nowrap;
  background: none;
  -webkit-appearance: none;
  outline: none;
  border-radius: 100px;
  display: block;
  padding: 13px 0;
  width: 100%;
  background-color: #1185fe;
  border-color: #1185fe;
  font-weight: 700;
}

._gxM, ._gcQ {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
}

._eYG {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  margin-left: 12px;
  overflow: hidden;
}

._QxM {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  max-width: 100%;
  overflow: auto;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

._TZx {
  line-height: 1.5;
  font-weight: 700;
  color: #abb8c2;
}

._TXs, ._MTx {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 5px;
  margin-left: -5px;
}

._uHt {
  color: #666;
}

._Bfa {
  margin-left: 12px;
}

._QZg {
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0%;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

._gM_a {
  border: 1px solid #1185fe;
  border-radius: 6px;
}

._agM {
  background: #1185fe;
  border-radius: 100px;
}

._TX_a, ._TX_a:visited {
  min-width: 92px;
  text-align: center;
  box-sizing: border-box;
  color: #1185fe;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  padding: 8.5px 16px;
}

._TX_a:active {
  background: rgba(17,133,254,.1);
}

._atX, ._atX:visited {
  color: #fff;
}

._QxM, ._DYg , ._DYg:visited {
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

._DyQ, ._yHu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

._DyQ {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  position: relative;
}

._cCq {
  background-color: #fafafa;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  overflow: hidden;
  position: relative;
  /*box-shadow: 0 1px 3px rgba(26,26,26,.1);*/
}

._cCq::after {
  border: 1px solid rgba(0,0,0,.0975);
  border-radius: 50%;
  bottom: 0;
  content: "";
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0; 
}

._mgQ {
  height: 100%;
  width: 100%;
}

._MGa {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

._gQe {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

._sZ_a {
  color: #646464;
  font-size: 22px;
  font-weight: 300;
}

._txM_2 {
  color: #999;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: .2px;
}

@media (min-width: 640px) {
  ._gHm {
    background-color: #fff;
  }

  ._gHm {
    border-radius: 4px;
  }

  ._gHm + ._gHm {
    margin-top: 8px
  }
}